<footer>
	<ul class="top-menu">
		<a href="/<%=userID%>/settings"><li>My Account</li></a>
		<span class="separate-me"></span>
		<a href="/<%=userID%>/rated-items"><li>My Collection</li></a>
		<span class="separate-me"></span>
		<a href="/<%=userID%>/items/new-item"><li>Add Item</li></a>
		<!-- <span class="separate-me"></span>
		<a href="/<%=userID%>/new-food"><li>My Pantry</li></a> -->
	</ul>
</footer>
</main>

<script type="text/javascript" src="/scripts/my-scripts.js"></script> 
		
	</body>
</html>